* {
    font-family: Verdana, Tahoma;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
h1{
    text-align: center;
}
#header-desc {
    text-align: center;
}

#img-div {
    background-color: #d0d0d5;
    width: 70%;
    padding: 20px;
    margin: auto;
}
#img-caption    {
    text-align: center;
    font-size: 0.75em;
    padding-top: 3px; 
}